.header-box {
    display: flex;
    align-items: start;
    z-index: 30;

}

.game-name {
    color: rgb(1, 1, 17);
    font-size: 40px;
    padding-left: 40px;
    cursor: default;
    position: absolute;
    z-index: 30;
    padding-left: 85px;
    font-family: cursive;
    margin-top: 0px;
}

.game-logo {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    padding: 5px, 5px, 5px, 5px;
    border: solid;
    border-width: 2px;
    border-color: rgb(30, 30, 30);
    margin-left: 28px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 5px;
    z-index: 30;
}

.game-name:hover {
    color: rgb(167, 185, 165);
    font-size: 45px;
    transition: 0.60s;
}

.mtext {
    padding-left: 20px;
    margin-top: 10px;
    display: block;
}

.main-work {
    height: 300px;
    width: 550px;
    background-color: rgb(43, 55, 170);
    margin-left: 330px;
    margin-top: 130px;
    border: solid;
    border-width: 3px;
    border-radius: 20px;


}

.button1 {
    margin-left: 200px;
    margin-top: 30px;
    height: 40px;
    width: 100px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    font-size: 22px;
    color: back;
    background-color: gray;

}

.tick {
    height: 50px;
    margin-left: 150px;
    margin-top: 50px;

}

.cross {
    height: 36px;
    margin-left: 150px;
    margin-top: 60px;
    position: absolute;

}




@media only screen and (max-width:990px) {
    .header-box {
        display: flex;
        width: 800px;

    }


    .game-name {
        font-size: 92px;
        padding-left: 220px;
    }

    .game-logo {
        height: 133px;
        width: 170px;
    }

    .main-work {
        height: 600px;
        width: 700px;
        margin-left: 150px;
        margin-top: 500px;
    }

    .mtext {
        margin-left: 40px;
        font-size: 45px;
    }

    .button1 {
        height: 84px;
        width: 220px;
        font-size: 50px;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .tick {
        height: 100px;
    }

    .cross {
        height: 80px;
    }
}